image: python:3.11-slim

pipelines:
  default:
    - step:
        name: Lint + Typecheck
        caches:
          - pip
        script:
          - python -m pip install --upgrade pip
          - pip install -r requirements-dev.txt
          - black --check .
          - ruff check .
          - pyright


    - step:
        name: Tests (with coverage)
        caches:
          - pip
        script:
          - python -m pip install --upgrade pip
          - pip install -r requirements-dev.txt
          - pytest -q --cov=sc_browser --cov-report=term-missing --cov-fail-under=60

    - step:
        name: Build Docker image
        services:
          - docker
        script:
          - docker build -t scb:${BITBUCKET_COMMIT} .

definitions:
  caches:
    pip: ~/.cache/pip
